<div class="header">
  <div class="container">
  </div>
</div>

<div class="book">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Title: <%= @book.title %></h2>
        <p>Author: <%= @book.author %></p>
        <p>ISBN: <%= @book.isbn %></p>
        <p>Edition: <%= @book.edition %></p>
      </div>
    </div>
  </div>
</div>
